@tailwind base;
@tailwind components;
@tailwind utilities;

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.error {
	color: #bf1650;
	margin-top: 8px;
}

.error::before {
	display: inline;
	content: '⚠ ';
}
.react-datepicker__header {
	background: white;
	border: none;
}

.react-datepicker__triangle {
	transform: translate(40px, 0px) !important;
}
.react-datepicker__current-month {
	text-transform: capitalize;
}
.inputfile {
	/* visibility: hidden etc. wont work */
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label * {
	pointer-events: none;
}
input.react-datepicker-time__input {
	border-radius: 15px;
}
.selected > .active {
	background: #ffbf00;
	color: white;
}
button[type='submit'] {
	overflow: initial !important;
}
